
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d5f5f5;
}
header, footer {
    background-color: #ddd;
    padding: 15px;
    border-radius: 8px;
}
nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}
section {
    margin-top: 20px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}
table {
    border-collapse: collapse;
    width: 50%;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}



button {
    padding: 10px 20px;

    font-size: 18px;

    cursor: pointer;
}
